// Color Palette

// Primary Colors
$endeavour: #0059a4;
$madison: #103870;
$bondiBlue: #0091b6;
$lima: #78be20;
$gold: #ffd100;
$crimson: #cc0000;


$primaryColor1: $endeavour;
$primaryColor2: $madison;
$primaryColor3: $bondiBlue;
$primaryColor4: $lima;
$primaryColor5: $gold;
$primaryColor6: $crimson;
// End Primary Colors

// GreyScale Colors
$white: #fff;
$alabaster: #f7f7f7;
$alto: #d8d8d8;
$gray: #8b8b8b;
$doveGray: #737373;
$tundora: #4a4a4a;
$thunder: #231f20;
$black: #000;
$gallery: #ececec;

$greyScaleColor1: $white;
$greyScaleColor2: $alabaster;
$greyScaleColor3: $alto;
$greyScaleColor4: $gray;
$greyScaleColor5: $doveGray;
$greyScaleColor6: $tundora;
$greyScaleColor7: $thunder;
$greyScaleColor8: $black;
$greyScaleColor9: $gallery;
// End GreyScale Colors

